<!DOCTYPE html>
<html lang="ko">
    <% include ./head.ejs %>

        <body>

            <!-- 피드쓰기 -->

            <div class="feedmodal">
                <button type="button" id="close_btn"></button>

                <div class="feed">
                    <div class="feed_Content">
                        <div class="feedBox"><img  onerror="this.onerror=null; this.src='/img/feedup.png';"src="/img/feedup.png"></div>
                        <div class="feedBox">
                            <div class="feedloginimg">
                                <img id="loginImg" onerror="this.onerror=null; this.src='/img/not.png';"src="#">

                            </div>
                            <h5 style="font-size: 20px; color: rgb(22, 21, 22)"><%= userName %></h5>
                        </div>
                        <div class="feedBox">피드내용들어올자리</div>

                        <div class="feedBox"><hr style="width:100% ;border-bottom:0px;border-right:0px;border-left:0px">댓글들어올자리</div>
                        <div class="feedBox">
                            <div class="feedloginimg">
                                <img id="loginImg" onerror="this.onerror=null; this.src='/img/not.png';"src="<%= path %>">

                            </div>
                            <div class="comment">
                                <textarea></textarea>
                                <button type="submit">게시</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="wrapper">

                <% include ./header.ejs %>

                    <div class="container"></div>

                </div>
            </body>
        </html>