<!DOCTYPE html>
<html lang="ko">
<% include ./head.ejs %>

<body>
    <div class="wrapper">
        <% include ./header.ejs %>

        <div class="container">

            <div class="content">
                <div class="feed">
                    <div class="feed-content">
                        <div class="profile">
                            <div class="profile-img">
                                <a href="#">
                                    <img src="/img/Profile.png" alt="profile" width="80">
    
                                </a>
                            </div>
    
    
                            <div class="feed-user">
    
                                <h1> 작성자이름 </h1>
                                <a herf="#">
    
                                    <img src="/img/chat.png" alt="chatting" width="30">
                                </a>
                                <button type="button">LIKE</button>
    
                            </div>
                        </div>
    
    
    
    
    
    
                        <div class="feed-footer">
                            <p class="feed-note">
                                작성자가 입력한 내용
                                오늘은 날씨가 매우 좋군요
                                봄이 온거 같아요
                                작성자가 입력한 내용
    
                            </p>
                            <form action="" method="GET">
                                <textarea class="write" placeholder="comment"></textarea>
                                <button type="submit">SUBMIT</button>
                            </form>
    
                        </div>
    
                    </div>
                </div>
            </div>







        </div>
</body>

</html>