<!-- 헤드 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale =1.0, minimum-scale=1.0, user-scalable=no"/>    <title>main</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/font/font.css">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/b9f9b0f4fb.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/js/jquery.exif.js"></script> -->
  
    <style>
       
    </style>
</head>