
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/font/font.css">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/b9f9b0f4fb.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/js/jquery.exif.js"></script> -->
    <script src="js/loadimg/load-image.js"></script>
    <script src="js/loadimg/load-image-scale.js"></script>
    <script src="js/loadimg/load-image-meta.js"></script>
    <script src="js/loadimg/load-image-fetch.js"></script>
    <script src="js/loadimg/load-image-orientation.js"></script>
    <script src="js/loadimg/load-image-exif.js"></script>
    <script src="js/loadimg/load-image-exif-map.js"></script>
    <script src="js/loadimg/load-image-iptc.js"></script>
    <script src="js/loadimg/load-image-iptc-map.js"></script>
    <!-- <script src="js/loadimg/jquery.Jcrop.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <style>
       
    </style>
</head>