<!-- 회원가입페이지  -->
<!DOCTYPE html>
<html lang="ko">
<% include ./head.ejs %>

<body>
    <div class="login-body">
        <div class="login-page">



            <div class="mainlogo"></div>
            <div class="mainpage">
                <h2>회원가입</h2>
                <div class="secondJoin">
                   
                        <div class="profileimg">
                            <!-- <div class="humenicon">
                                <i class="fas fa-user-circle "></i>
                            </div> -->
                            <!-- <div class="preImg"> -->
                                <img id="preImg" onerror="this.src='https://library.kissclipart.com/20180906/wtq/kissclipart-user-profile-clipart-user-profile-computer-icons-15b5c3086edf7512.png';" src=" ">
                            <!-- </div> -->
                        </div>
                           
                        <div class="cameraIcon">
                            <label for="joinprofile">

                                <i class="fas fa-camera"></i>

                            </label>
                        </div>
                        <div class="secondclick">
                            <input type="textarea" id="introduce" placeholder="한줄 자기소개" maxlength="200">

                            <div class="joinbtn">
                                <button type="button" id="backbtn">BACK</button>
                                <button type="submit" id="joinbtn">JOIN</button>
                            </div>
                            <p>이미 가입하셨나요? <a href="/">로그인하기</a></p>
                        </div>
                    
                </div>
                <input id="joinprofile" type="file" accept=".jpg,.png">
                <div class="firstJoin">
                
                        <input type="text" id="name" placeholder="닉네임" required>
                        <input type="email" id="email" placeholder="e-mail" required><br>
                        <input type="password" id="password" placeholder="password (최소 8글자이상)" maxlength="20" required><br>
                        <input type="password" id="repassword" placeholder="password 확인" maxlength="20" required><br>
                        <button type="button" id="nextbtn">NEXT</button>
                        <p>이미 가입하셨나요? <a href="/">로그인하기</a></p>
                   
                </div>
            </div>

        </div>
    </div>
  

</body>
<script src="/js/join.js" type="text/javascript"></script>

</html>

