<!DOCTYPE html>
<html lang="ko">
<% include ./head.ejs %>

<body>
    <div class="wrapper">
        <% include ./header.ejs %>

        <div class="container">

            <div class="content">
                <div class="sns_feed">

                    <h2>
                        서비스 약관
                    </h2>


    
                        <p style="font-size: 2rem;">
                            TocToc에 오신 것을 환영합니다!<br/>
                        </p>
                        
                        <p>
                            TocToc은 사람들이 서로 교류하고 커뮤니티를 만들며 비즈니스를 성장시킬 수 있는 기술과 서비스를 개발합니다. (본 약관이 아닌) 별도의 약관이 적용된다고 명시되어 있지 않은 한, 본 약관은 회원님의  TocToc 및 기타  TocToc이 제공하는 제품, 기능, 앱, 서비스, 기술, 소프트웨어( TocToc 제품 또는 제품) 이용에 적용됩니다. 이러한 제품은 TocToc, Inc.가 제공합니다.<br/>
                        </p>
                        
                        <p>
                            TocToc은 회원님에게  TocToc또는 기타 본 약관이 적용되는 제품의 사용료를 청구하지 않는 대신, 사업체와 단체들은 당사에게 그들의 제품 및 서비스 광고를 회원님에게 보여드리도록 비용을 지불합니다. TocToc 제품을 사용함으로써 회원님은 당사가 회원님과 관련 있다고 생각되거나 회원님의 관심사와 관련이 있는 광고를 보여주는 것에 동의하게 됩니다. 당사는 회원님의 개인 데이터를 사용하여 회원님에게 보여드릴 광고를 결정합니다.<br/>
                        </p>
                        
                        <p>
                            TocToc은 회원님의 개인 데이터를 광고주에게 판매하지 않으며, 회원님이 명확한 권한을 부여하지 않는 한 회원님을 직접 식별할 수 있는 정보(이름, 이메일 주소 또는 기타 연락처 정보)를 공유하지 않습니다. 대신 광고주는 당사에 광고 타게팅 대상과 같은 정보를 알려줄 수 있고, 당사는 관심이 있을 만한 사람에게 해당 광고를 노출합니다. 당사는 사람들이 TocToc 내부와 외부에서 광고주의 콘텐츠와 어떻게 상호작용하고 있는지 여부를 이해할 수 있도록 광고주에게 광고 성과 보고서를 제공합니다.<br/>
                        </p>
                        
                        <p>
                            TocToc의 데이터 정책에는  TocToc이 회원님에게 표시할 광고를 결정하고 아래 설명된 기타 모든 서비스를 제공하기 위해 회원님의 개인 데이터를 수집하고 사용하는 방식이 설명되어 있습니다. 회원님은 또한 설정에서 당사가 회원님의 데이터를 어떻게 활용할지에 관해 회원님이 선택할 수 있는 공개 범위 설정을 언제든지 검토할 수 있습니다.<br/>
                        </p>


                </div>


            </div>

        </div>
</body>
<script src="/js/editinfo.js" type="text/javascript"></script>


</html>